body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px; 
    background-color: aqua;
}

h1{
    font-size: 2em; 
    color: darkgreen;
}
h2{
    color: green;
}
.topico{
    text-align: right;
}
.topico2{
    text-align: center;
}
.paragrafo{
    color: red;
}
.paragrafo2{
    text-align: justify;
}
#tituloPrincipal{
    background-color: darkgreen;
    color: aliceblue;
    text-align: center;
}