<style>
body{
    color: blue; font-family: 'Times New Roman', Times, serif; background-color: aquamarine;
}
h1{
    color:goldenrod ; background-color: blueviolet;
}
h2{
    color: purple; background-color: yellowgreen;
}
p{
    color: blue;
}
</style>