body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: darkcyan;
    margin: 100px;
}
p{
    text-align: justify;
}
a{
    font-size: 1,5em;
}
