.clube{
    width: 200px;
}

td{
    border-bottom: 1px solid white;
}
table{
    border: 1px solid black;
    color: white;
    background-color: rgb(99, 98, 98);
    font-family: Arial, Helvetica, sans-serif;
}
th{
    text-align: left;
}